{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <h1> HELLO </h1>

    <h2>Welcome to my App</h2>
    <span> If you like to enjoy full functionality of this App , Register and Enjoy </span>

    {% if is_granted("ROLE_USER") %}
        <span> If you want to see the GitHubRepo of the day, just click here to initialise the database ! <a
                    href="{{ path('repos_api') }}"><button> click me </button> </a></span>
    {% endif %}
{% endblock %}
